.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	
	margin: 0px;
	overflow-x: hidden;
}

.div1 { 
	grid-area: 1 / 2 / 6 / 5;
	margin: 0px;	
	overflow-x: hidden;
}



body {
	background-image: url(images/dont.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px black;
	margin: 0px;
	
	overflow-x:hidden;
}

#footer {
	display: block;
	position: relative;
	left: 0;
	bottom: 0;
	
	height: auto;
	width: 100%;
	margin: 0px;
	padding: 10px;
	
	color: white;
	background-color: darkcyan;
	
	font-size: 17px;
	
	overflow-x: hidden;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 10%;
	position: fixed;
	top: 0;
	left: 0;
}	

li a {
	display: block;
	color: #FFFFFF;
	padding: 8px 16px;
	text-decoration: none;
	
	margin: 0px;
	
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

li.inactive a:hover {
	color: lime;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.inactive {
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.inactive:hover {
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
}

.active {
	color: black;
	text-shadow: 1px 1px lime;
	transition: all .4s ease;
	-webkit-transition: all .4s ease;
  
	margin: 0px;
}

.spoiler {
		background-color: black;
		color: black;
		
		transition: all .4s ease;
		-webkit-transition: all .4s ease;
}

.spoiler:hover {
		color: white;
		text-shadow: 1px 1px gray;
		
		transition: all .4s ease;
		-webkit-transition: all .4s ease;
}

.mod {
		text-decoration: none;
}

.mod {
		color: lime;
		transition: all .4s ease;
		-webkit-transition: all .4s ease;
}

.mod:hover {
		color: white;
		transition: all .4s ease;
		-webkit-transition: all .4s ease;
}

figure {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

figcaption {
		color: lime;
		text-shadow: 2px 2px 4px #FFFFFF;
}
	